.header {
  --#{$prefix}dark-rgb: #{to-rgb(#29c4a9)};

  .logo {
    max-height: 40px;
  }

  .navbar-collapse {
    .navbar-nav {
      width: 100%;
      justify-content: center;
      gap: 4rem;

      .nav-item {
        a.nav-link {
          text-transform: uppercase;
          color: $white;

          &.active,
          &:hover {
            position: relative;
            color: yellow;

            
          }
        }

        .dropdown-menu {
          padding: 1.5rem 2rem 2rem;
          margin-top: 13px;
          border-top: none;
          border-radius: 0 0 20px 20px;
          border-color: #29c4a9;
          min-width: 320px;

          h2 {
            color: #29c4a9;
            font-weight: bold;
          }

          h4.title {
            color: #29c4a9;
            font-weight: bold;
          }

          &.dropdown-large {
            min-width: 500px;
          }
        }
      }
    }
  }


  .list-icons {
    display: flex;
    gap: 1.25rem;
    height: 100%;
    margin: 0;

    li {
      width: 25px;
      height: 25px;

      .link {
        display: block;
        width: 100%;
        height: 100%;
        background: no-repeat center;
        background-size: contain;

        &::after {
          content: none;
        }

        &.icon-sino {
          background-image: url(/images/icons/sino.png);
          transform: scale(1.1);
          
          &.show {
            background-image: url(/images/icons/sino.png);
          }
        }

        &.icon-user {
          background-image: url(/images/icons/user/user-outline.svg);
          transform: scale(1.1);
          
          &.show {
            background-image: url(/images/icons/user/user-white.svg);
          }
        }

        &.icon-search {
          background-image: url(/images/icons/search/search-outline-2.svg);
          
          &.show {
            background-image: url(/images/icons/search/search-white.svg);
          }
        }

        &.icon-heart {
          background-image: url(/images/icons/heart/favorite-outline-2.svg);
          transform: scale(1.1);
          
          &.show {
            background-image: url(/images/icons/heart/favorite-white.svg);
          }
        }

        &.icon-checkout {
          background-image: url(/images/icons/checkout/checkout-outline.svg);
          
          &.show {
            transform: scale(1.1);
            background-image: url(/images/icons/checkout/checkout-white.svg);
          }
        }
      }

      .dropdown-menu {
        min-width: 200px;
        left: auto;
        right: 0;
        margin-top: 20px;
        padding: 1rem 1.25rem 1.25rem;
        border-top: none;
        border-radius: 0 0 20px 20px;
        border-color: #29c4a9;

        &.dropdown-large {
          min-width: 500px;
        }

        .header-list-dropdown {
          display: flex;
          justify-content: space-between;

          .title {
            color: #29c4a9;
            display: flex;
            flex-direction: column;

            h6 {
              font-weight: bold;
              margin: 0;
            }

            div {
              font-size: 0.75rem;
            }
          }

          .icons {
            display: flex;
            gap: 10px;
            align-items: center;

            a.icon {
              font-size: 0.75rem;
              text-decoration: none;
              position: relative;
              margin-left: 20px;

              &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: -22px;
                background: no-repeat center;
                background-size: contain;
              }

              &.icon-xls::before {
                background-image: url(/images/icons/file-excel-regular.svg);
              }

              &.icon-pdf::before {
                background-image: url(/images/icons/file-pdf-regular.svg);
              }
            }
          }
        }

        .content-dropdown-list {
          max-height: 400px;
          overflow-y: scroll;
          margin-right: -10px;
          padding-right: 5px;

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #29c4a9;
          }
        }

        .user-detail {
          .icon {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            background: #efefef url(/images/icons/user-regular-red.svg) no-repeat center;
            background-size: 60% auto;
          }

          .email {
            font-size: 0.85rem;
          }
        }
      }
    }

  }
}
.link {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
}
.icon-checkout {width: 25px;
  height: 25px;
  background-image: url(/images/icons/checkout/checkout-outline.svg);
  
  &.show {
    transform: scale(1.1);
    background-image: url(/images/icons/checkout/checkout-dark-outline.svg);
  }
}

.cta-number-whilistis {
  color: white;
  background: black;
  border-radius: 50px;
  padding: 3px 7px;
  font-size: 9px;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
      

@include media-breakpoint-down(lg) {
  .header {
    .logo {
      max-height: 35px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          a.nav-link {

            &.active,
            &:hover {
              text-decoration: underline;

              &::before {
                content: none;
              }
            }
          }

          .dropdown-menu {
            padding: 0.5rem 1rem 1rem;
            margin-top: 5px;
            border-top: none;
            min-width: auto;

            h2 {
              color: #29c4a9;
              font-weight: bold;
            }

            h4.title {
              color: #29c4a9;
              font-weight: bold;
            }

            &.dropdown-large {
              min-width: auto;
            }
          }
        }
      }

      .list-icons {
        justify-content: center;
        position: relative;

        li {
          position: unset !important;

          .dropdown-menu {
            left: 0px;
            right: 0px;
            min-width: auto;
            margin-top: 8px;
            padding: 0.5rem 1rem 1rem;

            &.dropdown-large {
              min-width: auto;
            }
          }
        }
      }
    }

  }
}