@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login{
    background: url("../images/bg-login.jpg");
    background-size: cover;
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / 0.6);
}